# Python artifacts
__pycache__/
*.pyc
*.pyo
*.db

# Virtual environment folders
venv/
env/

# Environment/configuration files
.env

# Node.js/React artifacts
node_modules/

# Editor/IDE files
.vscode/
.idea/

# OS system files
.DS_Store
Thumbs.db

# Logs and miscellaneous
*.log

# Other
*.sqlite3      # If you use SQLite DB files